services:
  s-jenkins:
    build:
      context: .
    image: jenkins
    container_name: c-jenkins
    restart: unless-stopped
    ports:
      - '8080:8080'
      - '50000:50000'
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - jenkins-net

volumes:
  jenkins_home:
    name: jenkins_home

networks:
  jenkins-net:
    name: jenkins-net
